.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.General-info {
  background-color: #B7DCF4;
  min-height: 20vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Medical-conditions {
  text-align:center;
  max-width: 60vw;
  overflow-wrap: break-word;
}

.Profile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Profile {
  text-align: left;
}

.Profile-more {
  text-align: right;
}

.Basic-info {
  display: flex;
  flex-direction: row;
  display: inline-flex;
}

.Symptoms {
  background-color: #DDC5E7;
  min-height: 20vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Symptoms-info {
  text-align: left;
}

.Symptoms-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Daily-entry {
  background-color: #DDC5E7;
  min-height: 20vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-bottom: 50px;
}

.General-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.General-update {
  background-color: #B5EFCE;
  min-height: 15vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
